---
const {title} = Astro.props;
---

<div class="circle-card -my-10 md:py-0 mx-auto sm:-ml-10 lg:-ml-[44px] flex items-center justify-center h-[370px] w-[370px] md:h-[449px] md:w-[449px] text-center border-2 rounded-full border-gray-300 hover:border-[#0052CC] hover:shadow-xl transition-all duration-300 uppercase text-lg leading-tight tracking-wide bg-white text-gray-900 font-semibold">
    <p class="max-w-[196px]">{title}</p>
</div>