---
import CircleCard from "./CircleCard.astro";
---
<div id="whyus" class="pt-16 overflow-x-hidden z-30 bg-white">
    <h3 class="why-us-title text-center font-bold text-wrap text-3xl sm:text-5xl md:text-6xl lg:text-7xl leading-tight text-gray-900">
        Почему выбирают нас?
    </h3>

    <div class="sm:max-w-[560px] md:max-w-[740px] lg:max-w-[1440px] w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-center mx-auto pt-40 pb-24">
        <CircleCard title="Более 10 лет успешного опыта на рынке" />
        <CircleCard title="Индивидуальный подход к каждому клиенту" />
        <CircleCard title="Современные и инновационные технологии" />
        <CircleCard title="Профессиональ-ная команда специалистов" />
    </div>
</div>
